{
  "presets": ["meteor"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."]
      },
      "import",
      { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }
    ]
  ]
}
